extends layout.pug 

block content 
    nav(class="nav")
      a(href="/")
        span &larr;
        |  Back      
    article(class="portfolio-about")
        div(class="inner-wrapper flex-row-wrap two-col")
            div(class="about-intro-box box")
                h1 Taylan Mun
                p Full Stack Web Developer
                .about-bio
                    p I am working as a web developer. I use Php actively as a programing language, for framework I use MVC. In addition that I use Javascript in the front end part. Also If it is necessary, I use React Js. I love to constantly improve myself. So, I keep improving myself day by day. Technology is improving every day. As a technology lover, I take great pleasure in keeping up with this.I like to reveal software problems, that way I can fix them. These software problems help me to improve myself.
            div(class="skills-contact-box box")
                h6 Skills
                ul
                    li PHP
                    li JavaScript
                    li React
                    li HTML
                    li CSS
                    li Java
                    li JQuery
                    li OOP
                h6 Contact Info 
                ul 
                    li 553-553-1234
                    li taylan@taylan.com
                a(class="btn-link", href="https://www.linkedin.com/in/taylanmun/", target="_blank") Linkedin
                a(class="btn-link", href="https://github.com/taylanmun", target="_blank") GitHub
                a(class="btn-link", href="https://twitter.com/", target="_blank") Twitter
        nav(class="nav")
          a(href="/")
              span &larr;
              |  Back