extends layout.pug 

block content 
    article(class="portfolio-intro")
        h1 Software Engineer
        p I am currently dealing with web programming. I can reach a quick solution, work with the team and help them.

    article(class="portfolio-project-thumbs")
        div(class="projects-box box grid")
            each project in projects
              a.cell(href=`/projects/${project.id}`)
                img(class="thumbnail", src=`${project.mainpicture_url}`, alt=`${project.project_name}`)
                h3(style="margin-top:0px; color:#111")= project.project_name