doctype html 
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Taylan Mun Portfolio
        link(rel='shortcut icon' href='/static/images/favicon.ico' type='image/x-icon')
        link(rel="stylesheet", href="/static/css/normalize.css")
        link(rel="stylesheet", href="/static/css/styles.css")    
    body 
        div(class="sidebar", id="my-info")
          div(class="sidebar-info-box")
            br
            div(class="thumbnail-box-logo")
              a(href="/")
                img(src='/static/images/logo_tm.jpg', alt='myLogo', width="64", height="64")
              hr
            div(class="thumbnail-box")
              img.thumbnail(src='/static/images/mypicture.jpg', alt='')
            div(class="dev-intro-box")
              h5 Taylan Mun
              h4(style="color:#fff") Software Engineer - JavaScript is indispensable for me like the other people in the world
              a(href="/about", class="more_link") Learn More &rarr;
        div(class="wrapper")
            div(class="header")
              div(class="header-info-box")
                button(class="menu-icon" id="menu-icon" type="button" data-toggle="my-info")
                span(style="float:right") Taylan MUN 
                a(href="/")
                  img.thumbnail(src='/static/images/logo_tm.jpg', alt='myLogo', width="36", height="36", style="margin-top:-7px")
            block content
        script(src="/static/js/script.js")