extends layout_error

block content
  section(class="page_error")
    .container
      .row
        .col-sm-12
          div(class="col-sm-10 offset-1 text-center")
            .four_zero_four_bg
              h1(class="text-center")=err.status
            .contant_box_error
              h3(class="h2") Look like you're lost
              p=err.message
              a(class="link_error", href="/") Go to home
